@media screen and (max-width:320px  ) and (max-width:380px) {
    body{
        flex-direction: column;
        }
}


*{
    margin: 0%;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    font-family:"adobe-clean", sans-serif;
    background-color:white;
    display: flex;
    text-align: center;
    justify-content: center;
}


.card{
    width: 50%;
    height: 700px;
    background-color: white;

}

.main-headings{
    margin-top: 30px;
    font-size: 50px;
    align-items: center;
}

.heading{
    text-align: center;
    margin-top: 10px;
}

.placeholder{
    height: 50px;
    width: 300px;
    border-radius: 8px;
    border-color: rgb(245, 107, 107);
    font-size: 20px;
    box-shadow: 4px 4px 4px 2px lightgrey;
}

.lists{
    color: gray;
    font-family:  "adobe-clean", sans-serif;
}

.add{
    width: 40px;
    height:40px;
    background-color: rgb(219, 9, 9);
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 30px;
}

.add2{
    color: white;
    text-decoration: none;
}